body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 24px;
}

#checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label {
    margin: 10px;
}

#gerarReuniao {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#resultadoReuniao {
    margin-top: 20px;
    font-weight: bold;
}
